{{# partial "input_area_value" }}{{input_area}}{{/partial}}

{{# partial "results" }}
<p>Results:</p>
<p>A: {{results_a}}</p>
<p>E: {{results_e}}</p>
<p>I: {{results_i}}</p>
<p>O: {{results_o}}</p>
<p>U: {{results_u}}</p>
<p>Total: {{results_total}}</p>
{{/partial}}

{{> get}}
